<div data-bind="visible: (page() == 'engine' && engines().length>0)">
<h4 data-bind="text: name"></h4>
<img data-bind="src: '@routes.Assets.at("/images/")' + imglink()">
<table class="table table-bordered">
	<tr>
		<td><b>Тип</b></td>
		<td><b>Двигатель / редуктор</b></td>
		<td><b>Мощность</b></td>
		<td><b>Максимальные обороты</b></td>
		<td><b>Вес</b></td>
		<td><b>Габариты</b></td>
		<td><b>Передаточные числа редуктора</b></td>
	</tr>
	<tr>
		<td data-bind="text: category"></td>
		<td data-bind="text: name"></td>
		<td data-bind="text: power() + ' л. с. / кВт'"></td>
		<td data-bind="text: RPM() + ' об./мин'"></td>
		<td data-bind="text: weight() + ' кг'"></td>
		<td data-bind="text: dimensions() + ' мм'"></td>
		<td data-bind="text: gear_ratio"></td>
	</tr>
</table>
<p>Аксессуары:</p>
<table class="table">
	<thead>
		<tr><th>Артикул</th><th>Название</th><th></th></tr>
	</thead>
	<tbody data-bind="foreach: accs()">
		<tr>
			<td data-bind="text: SKU"></td>
			<td data-bind="text: name"></td>
			<td>
				<a href="#" data-bind="click: $root.loadenginesforacc.bind($root, id())">
					Совместимые двигатели
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>
